body {
  font-family: "Lato", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(-145deg, #f5f7fa, #424643, #424045, #bbb5ba);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  min-height: 100vh;
  color: white;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

nav {
  background-color: #333;
  width: 100%;
}

nav > ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
}

nav > ul > li > a {
  display: block;
  padding: 20px 25px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}

nav li {
  position: relative;
  color: black;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  min-width: 200px;
  padding: 0;
  margin: 0;
  list-style: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

/* Affiche le sous-menu au survol */
nav li:hover .submenu {
  display: block;
}

.submenu li a {
  display: block;
  padding: 12px 20px;
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #eee;
  font-size: 13px;
}

.submenu-label {
  display: block;
  padding: 12px;
  background-color: #aeacac;
  color: #333;
  text-decoration: none;
  font-size: 13.3px;
  text-transform: uppercase;
}

.submenu li a:hover {
  background-color: #f0f0f0;
}

.menu-html:hover {
  background-color: #e44d26;
}
.menu-css:hover {
  background-color: #0070bb;
}
.menu-js:hover {
  background-color: #f1dc4f;
}
.menu-sql:hover {
  background-color: #e02c2c;
}
.menu-php:hover {
  background-color: #5537ae;
}
.menu-mission:hover {
  background-color: #1f8a07;
}
.menu-certif:hover {
  background-color: #c33df2;
}
.menu-contact:hover {
  background-color: #666;
}

.welcome {
  font-size: 40px;
}

hr {
  border: 3px, solid, #1111110b;
  margin: 30px;
}

.presentation {
  border: 2px solid rgb(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 20px;
  width: 80%;
  margin-bottom: 25px;
}

.languages {
  border: 2px solid rgb(0, 0, 0, 0.1);
  background-color: rgba(64, 61, 61, 0.2);
  border-radius: 20px;
  padding: 20px;
  width: 90%;
  margin-bottom: 25px;
}

.languages ul {
  padding-inline-start: 0px;
}

.languages ul li {
  font-size: 20px;
  font-weight: bold;
  margin: 30px;
  display: inline-block;
}

/* Menu mobile/écran fractionné */
.menu-mobile {
  display: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
  transition: 0.2s;
}

.menu-mobile:hover {
  background-color: rgb(91, 88, 88);
  transition: 0.2s;
}

nav input[type="checkbox"] {
  display: none;
}

@media screen and (max-width: 768px) {
  .menu-mobile {
    display: block;
  }

  @keyframes glissage {
    from {
      transform: translateY(-10px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 100;
    }
  }

  .bars {
    color: white;
    width: 30px;
  }
  nav > ul {
    display: none;
    flex-direction: column;
  }

  nav input[type="checkbox"]:checked ~ ul {
    display: flex;
    animation: glissage ease 0.2s;
  }

  nav > ul > li > a {
    text-align: center;
    border-bottom: 1px solid #444;
  }

  .submenu {
    position: static;
    width: 100%;
    box-shadow: none;
  }
}
