body {
  font-family: "Lato", sans-serif;
  padding: 10px;
  background-color: rgb(152, 7, 7);
}

.top {
  color: white;
}
.id-facture {
  float: right;
  border-bottom: 1px;
}

.id-entreprise {
  float: left;
}
.middle {
  border-bottom: 2px solid black;
}

table {
  border: 1px solid black;
}

img {
  width: 400px;
  height: 200px;
  margin: 10px;
}

div {
  clear: both;
}

.info-client {
  margin-top: 54px;
}

.sous-titre {
  text-decoration: underline;
  font-weight: bold;
  margin-left: 56px;
  width: 300px;
}

.titre-achat {
  padding: 10px;
  color: white;
  text-align: center;
}
td {
  text-align: center;
  border: none;
}

input {
  text-align: center;
}

button {
  margin-left: 22px;
}
