body {
  background-color: beige;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  width: 200px;
  height: 200px;
  background-color: whitesmoke;
  color: black;
  border: 2px solid gray;
  border-radius: 22px;
  font-size: 2em;
  margin: 25px;
  transition: 0.5s;
}

.petit-bouton {
  width: 90px;
  height: 30px;
  font-size: 20px;
  color: white;
  background-color: green;
}

.petit-bouton:hover {
  background-color: orange;
}

button:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
  transition: 188ms;
}

.block2 {
  background-color: #f5f5b2;
}

.yes {
  background-color: #61d134;
}

.no {
  background-color: red;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  padding: 7px;
}

.block3 {
  background-color: #dfc57b;
}

#nom {
  border: ridge;
  border-radius: 30px;
}

#age {
  border: ridge;
  border-radius: 30px;
}
